body {
    font-family: sans-serif;
    max-width: 1500px;
    background-color: white
}

img {
    max-width: 100%; 
    text-align: center;
}
header {
    max-width: 1500px;
    background-color: white;  
    text-align: center;
}
main h2.altro-titolo {
    color: white;
    
}
 